<!DOCTYPE html>
<html lang="en">

<head>







    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AILAB - Demo</title>
    <link href="https://fonts.googleapis.com/css?family=Croissant+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/responsive.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="blue">
                <img src="static/img/header-shepe-blue.png" alt="">
            </div>
            <div class="white">
                <img src="static/img/header-shepe-white.png" alt="">
            </div>
            <div class="container">
                <img class="shepe1" src="static/img/shepe1.png" alt="">
                <img class="shepe2" src="static/img/shepe2.png" alt="">
                <img class="shepe3" src="static/img/shepe2.png" alt="">
                <img class="shepe4" src="static/img/shepe2.png" alt="">
                <img class="shepe5" src="static/img/shepe1.png" alt="">
                <img class="shepe6" src="static/img/shepe2.png" alt="">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="logo">
                            <h2><a href="#">AILAB</a></h2>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="menu">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="https://ailab.hcmus.edu.vn/">HomePage</a></li>
                                <li><a href="https://drive.google.com/file/d/1ENnV9c0KfEdXeBzXArii-bfFBiSN0ZeX/view?usp=sharing">Research</a></li>
                                <li><a href="#section5">Demo</a></li>
                                <li><a href="#">NewVoice</a></li>
                                <li><a href="https://nix-united.com/blog/neural-network-speech-synthesis-using-the-tacotron-2-architecture-or-get-alignment-or-die-tryin/">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-text">
                            <h1>Create Your Own Voice</h1>
                            <p>building a new generation of tools for media editing and synthesis <br>that make content creation more accessible and expressive.</p>
                            <button onclick="location.href='https://pypi.org/project/vinorm'" type="button">Vinorm</button>
                            <button>Synthesis</button>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="another-text">
                            <h3>Three Simple Steps</h3>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="development">
            <div class="blue">
                <img src="static/img/development-shepe-blue.png" alt="">
            </div>
            <div class="white">
                <img src="static/img/development-shepe-white.png" alt="">
            </div>
            <div class="container">
                <div class="row ">
                    <div class="col-md-4 col-sm-4">
                        <div class="design-development one">
                            <i class="material-icons">lightbulb_outline</i>
                            <h2>Collect voice data</h2>
                            
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="design-development two">
                            <i class="material-icons">color_lens</i>
                            <h2>Text Normalization</h2>
                            
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="design-development three">
                            <i class="material-icons">developer_board</i>
                            
                            
                            <h2>Synthesis</h2>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="works">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="work-images">
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/czP2bFKpxLE" frameborder="0" allowfullscreen></iframe>
                            <div class="overlay-text">
                                <i class="material-icons">play_circle_filled</i>
                            </div>


                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="work-text-full">
                            <div class="work-text">
                                <h2>How was It created?</h2>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolia">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="port-text">
                            <h2>Audio Sample</h2>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="portfolio-part">
                            <div>
                                <center style="width: 280px;height: 280px;border-style: solid;border-color: #0ceac5;border-radius: 50%;font-size: 50px;line-height: 50px;text-align: center;background: white"><p><font size="22" color="#0ceac5"><br><br>Special</font></p><center>
                            </div>
                            <div class="overlay-slide">
                                <font size="12" color="white">Special Case</font></p>
                                <audio controls></audio>
                                <source src="static/audio/download.wav" type="audio/wav">
                                </audio>
                                <p>These are the rules to capture specific cases that are out of context, with specific formats, not to be confused in different contexts, including Phone number, Football, Website, Email, etc</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="portfolio-part">
                            <div>
                                <center style="width: 280px;height: 280px;border-style: solid;border-color: #0ceac5;border-radius: 50%;font-size: 50px;line-height: 50px;text-align: center;background: white"><p><font size="22" color="#0ceac5"><br><br>English</font></p><center>
                            </div>
                            <div class="overlay-slide">
                                <font size="12" color="white">English</font></p>
                                <audio controls></audio>
                                <source src="static/audio/download.wav" type="audio/wav">
                                </audio>
                                <p>There are still many issues that text normalization needs to improve, as the statistics mentioned above show that English and the Proper Nouns make up nearly 40\% of the tokens to handle.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="portfolio-part">
                            <div>
                                <center style="width: 280px;height: 280px;border-style: solid;border-color: #0ceac5;border-radius: 50%;font-size: 50px;line-height: 50px;text-align: center;background: white"><p><font size="22" color="#0ceac5"><br><br>Address</font></p><center>
                            </div>
                            <div class="overlay-slide">
                                <font size="12" color="white">Address</font></p>
                                <audio controls></audio>
                                <source src="static/audio/download.wav" type="audio/wav">
                                </audio>
                                <p>Address - Code are rules for capturing phrases about addresses, locations, codes and all phrases containing numbers, after this step all standardized text no longer contains numbers.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="portfolio-part">
                            <div>
                                <center style="width: 280px;height: 280px;border-style: solid;border-color: #0ceac5;border-radius: 50%;font-size: 50px;line-height: 50px;text-align: center;background: white"><p><font size="22" color="#0ceac5"><br><br>Timedate</font></p><center>
                            </div>
                            <div class="overlay-slide">
                                <font size="12" color="white">Timedate</font></p>
                                <audio controls></audio>
                                <source src="static/audio/download.wav" type="audio/wav">
                                </audio>
                                <p>are rules for capturing phrases that show the date and time element.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="portfolio-part">
                            <div>
                                <center style="width: 280px;height: 280px;border-style: solid;border-color: #0ceac5;border-radius: 50%;font-size: 50px;line-height: 50px;text-align: center;background: white"><p><font size="22" color="#0ceac5"><br><br>Unit</font></p><center>
                            </div>
                            <div class="overlay-slide">
                                <font size="12" color="white">Unit</font></p>
                                <audio controls></audio>
                                <source src="static/audio/download.wav" type="audio/wav">
                                </audio>
                                <p>Unit of measurement are terms that refer to quantities, percentage or currency, followed by numbers, which can be an Alphabetic or a symbol.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="portfolio-part">
                            <div>
                                <center style="width: 280px;height: 280px;border-style: solid;border-color: #0ceac5;border-radius: 50%;font-size: 50px;line-height: 50px;text-align: center;background: white"><p><font size="22" color="#0ceac5"><br><br>Numberical</font></p><center>
                            </div>
                            <div class="overlay-slide">
                                <font size="12" color="white">Numberical</font></p>
                                <audio controls></audio>
                                <source src="static/audio/download.wav" type="audio/wav">
                                </audio>
                                <p>to capture cases containing Normal number, Floating Point Number, Roman numerals, mathematical expression</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="penination">
                            <a href="https://google.github.io/tacotron/"><p>Related Works</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="section5" class="our-team">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="team-text">
                            <h2>Demo!</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="my-claint owl-carousel owl-theme">
                            <div class="item">
                                <form action="/demo">
                                    <input type="image" src="static/img/1.png" alt="Submit" name="demo" height="150" width="150">
                                </form>
                                <div class="item-overlay"></div>
                                <div class="item-text">
                                    <h3>Saigon</h3>
                                    <h4>Male</h4>
                                </div>
                            </div>
                            <div class="item">
                                <form action="/demo">
                                    <input type="image" src="static/img/1.png" alt="Submit" name="demo" height="150" width="150">
                                </form>
                                <div class="item-overlay"></div>
                                <div class="item-text">
                                    <h3>Hue</h3>
                                    <h4>Female</h4>
                                </div>
                            </div>
                            <div class="item">
                                <form action="/demo">
                                    <input type="image" src="static/img/1.png" alt="Submit" name="demo" height="150" width="150">
                                </form>
                                <div class="item-overlay"></div>
                                <div class="item-text">
                                    <h3>Hanoi</h3>
                                    <h4>Male</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact">
            <div class="blue">
                <img src="static/img/contact-shepe-blue.png" alt="">
            </div>
            <div class="white">
                <img src="static/img/contact-shepe-white.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="contact-text">
                            <h2>Contact US!</h2>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="contact-form">
                            <form action="#" method="post">
                                <div class="first">
                                    <input type="text" name="" placeholder="First Name">
                                </div>
                                <div class="last">
                                    <input type="text" name="" placeholder="Last Name">
                                </div>
                                <div class="email">
                                    <input type="email" name="" placeholder="Email Address">
                                </div>
                                <div class="message">
                                    <textarea placeholder="Your Message"></textarea>
                                </div>
                                <div class="checkbox-submit">
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="" checked> Allow Newsletter</label>
                                    </div>
                                    <div class="submit">
                                        <input type="submit" value="SEND">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="footer-icon">
                            <h2>AILAB - Junior</h2>
                            <p><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a><a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a><a href="#"><i aria-hidden="true" class="fa fa-dribbble"></i></a><a href="#"><i aria-hidden="true" class="fa fa-behance"></i></a><a href="#"><i aria-hidden="true" class="fa fa-google-plus"></i></a></p>
                            <h5>&copy; All Right Reserved. dart theme 2017</h5>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="footer-text">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="footer-text-single">
                                        <h3>About Us</h3>
                                        <p><a href="#">Our Team</a></p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="footer-text-single">
                                        <h3>Ethic Problem</h3>
                                        <p><a href="#">Documentations</a></p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="footer-text-single">
                                        <h3>Create Voice</h3>
                                        <p><a href="#">Contact</a></p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="footer-text-single">
                                        <h3>Get In Touch</h3>
                                        <p><a href="#">Contact Us</a></p>
                                        <p><a href="#">Request A Demo</a></p>
                                        <p><a href="#">+84 375 99 4743</a></p>
                                        <p><a href="#">dtnhan@apcs.vn</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="static/js/jquery-3.1.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/active.js"></script>





</body>

</html>